<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Dashboard</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="\static\vendor\font-awesome\font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container">
        <a href="#" class="navbar-brand">Blockchain Dashboard</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
                 <li class="nav-item ">
                    <a href="/configuration" class="nav-link">Configuration</a>
                </li>
                 
            </ul>
        </div>
    </div>

</nav>

<div class="container">
    <div class="row">

        <div class="col-lg-12 text-center">
            <div class="card-body" >
                <h4 class="card-title">
                    Transactions to be added to the next block
                </h4>
               <button type="submit" id="refresh_next_transactions_list" class="btn btn-primary "> 
                   <!-- <i class="fa fa-refresh"></i>  -->
                   <span class="fa fa-refresh"></span>
                </button>
            </div>
        </div>

</div>

</div>

<div class="container">
    <table id="unmined_transactions_table" class="table table-bordered" cellspacing='0' width='100%'>

    </table>
    <div class="col-lg-12 text-center">
        <input type="button" id="mine_buttone"  class="btn btn-primary btn-lg" value='Mine'>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-12 text-center">
            <div class="card-body" >
                <h4 class="card-title">
                    History of transactions on the Blockchain
                </h4>
               <button type="submit" id="refresh_transactions_list" class="btn btn-primary"> 
                   <i class="fa fa-refresh"></i> 
                </button>
            </div>
        </div>

</div>

<div class="container">
    <table id="transactions_table" class="table table-bordered" cellspacing='0' width='100%'>

    </table>
    
</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/DataTables/js/datatables.min.js"></script>
<script src="/static/vendor/DataTables/js/ellipsis.js"></script>

    <script>
       $(function() {

        $.ajax({
               url: '/chain',
               type: 'GET',
               success: function(response) {
                   let loadedTransactions = [];
                   let count = 1;

                   for(i=0; i<response['length']; i++ ) {

                    for(j=0; j< response['chain'][i]['transactions'].length; j++ ) {
                        let options = { year: "numeric", month: "short", day:"numeric", hour:"2-digit", minute:"2-digit", second:"2-digit"};
                        let date = new Date(response['chain'][i]['timestamp']*1000);
                        formattedTimestamp= date.toLocaleString('en-US', options);
                        let transaction = [count, 
                        response['chain'][i]['transactions'][j]['sender_public_key'],
                       response['chain'][i]['transactions'][j]['receiver_public_key'],
                       response['chain'][i]['transactions'][j]['amount'],
                       formattedTimestamp,
                       response['chain'][i]['block_number']
                    ];
                    loadedTransactions.push(transaction);
                    count += 1;
                    }

                   
                   }
                   $('#transactions_table').dataTable({
                       data: loadedTransactions,
                       columns: [
                           {title: '#'},
                           {title: 'Sender public key'},
                           {title: 'Receiver public key'},
                           {title: 'Amount'},
                           {title: 'TimeStamp'},
                           {title: 'Block number'},
                       ],
                       columnDefs: [{targets: [1,2,3,4,5], 
                    render: $.fn.dataTable.render.ellipsis(25) }],
                   });
               },
               error: function(error) {
                   console.log(error);
               }
           });

           $.ajax({
               url: '/transaction/get',
               type: 'GET',
               success: function(response) {
                   let loadedTransactions = [];
                   let count = 1;

                   for(i=0; i<response['transactions'].length; i++ ) {
                       let transaction = [count, 
                       response['transactions'][i]['sender_public_key'],
                       response['transactions'][i]['receiver_public_key'],
                       response['transactions'][i]['amount']
                    ];
                    loadedTransactions.push(transaction);
                    count += 1;
                   }
                   $('#unmined_transactions_table').dataTable({
                       data: loadedTransactions,
                       columns: [
                           {title: '#'},
                           {title: 'Sender public key'},
                           {title: 'Receiver public key'},
                           {title: 'Amount'},
                       ],
                       columnDefs: [{targets: [1,2,3], 
                    render: $.fn.dataTable.render.ellipsis(25) }],
                   });
               },
               error: function(error) {
                   console.log(error);
               }
           });
           $('#mine_buttone').click(function() {
               $.ajax({
                   url: '/mine',
                   type: 'GET',
                   success: function(response) {
                  window.location.reload() ; //Refreshes the page
                   },
               
               error: function(error) {
                   console.log(error);
               }
               });
           });

           $('#refresh_next_transactions_list').click(function() {
               window.location.reload();
           });

           $('#refresh_transactions_list').click(function() {
            $.ajax({
                   url: '/nodes/resolve',
                   type: 'GET',
                   success: function(response) {
                  window.location.reload() ; //Refreshes the page
                   },
               
               error: function(error) {
                   console.log(error);
               }
               });
           });

       });
    </script>
</body>
</html>

